.App {
  text-align: center;
}

body {
  background-color: #212b3f;
}

.header-text,
body {
  font-size: 2.9vmax;
}

.App-header,
body {
  background-color: #212b3f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin);
  color: white;
}

#current-date {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: calc(8px + 1vmin);
}

#current-time {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: calc(8px + 1vmin);
}

#employee {
  position: absolute;
  top: 1em;
  left: 1em;
}

.btns {
  display: flex;
  flex-direction: row;
}

.PT,
.Aide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  border: 2px solid white;
  border-radius: 5px;
  margin: 0px 30px;
  min-width: 18vw;
  max-width: 20vw;
  min-height: 3vw;
  max-height: 5vw;
}

.PT:hover {
  background-color: bisque;
  color: #282c34;
  border: 2px solid #282c34;
  transform: scale(1.05);
}
.Aide:hover {
  background-color:aquamarine;
  color: #282c34;
  border: 2px solid #282c34;
  transform: scale(1.05);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus, input:focus{
  outline: none;
}